*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

Application/app/google-services\.json

ProximityMap/app/src/main/res/values/secretstrings\.xml

*.jks
